@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    /*colors*/
    --color-primary: #104946;
    --color-glass-white: #FDFBF533;

    /*font sizes*/
    --text-xBase: 17px;
    --text-tiny: 10px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
